.button{
  background-color: green;
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 5px 20px;
  cursor: pointer;

}
.active-button{
  background-color: red;
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 5px 20px;
  border: 1px solid blue;
  color: white;
  cursor: no-drop;
  opacity: 0.5;
}